-i https://pypi.org/simple/
bcrypt==3.2.0
cffi==1.14.3
cryptography==3.2
lxml==4.6.1
ncclient==0.6.6
paramiko==2.7.2
prompt-toolkit==1.0.14
pyang==1.7.5
pycparser==2.20
pygments==2.7.2
pyinquirer==1.0.3
pynacl==1.4.0
regex==2020.10.23
six==1.15.0
wcwidth==0.2.5
